version: "3.9"

services:
  app:
    build: .
    container_name: e-commit-app
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    command: npm start

  mongo:
    image: mongo:7
    container_name: e-commit-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
